<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout/bank}">



<head>
<style>
	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
}


</style>


</head>
<body>
<div layout:fragment="content" class="m-3 p-3">
	<div class="container" id="sss">



		<div class="row mt-3 w-75 m-auto">

			<div class="col">



				<div class="container" id="Acount">
					<h5 class="">[[${account.accountNumber}]]</h5>


					<div>
						<div>
							<table class="table">
								<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">대출받는 날짜</th>
									<th scope="col">대출 상품이름</th>
									<th scope="col">대출 금액</th>
									<th scope="col">이자율</th>
									<th scope="col">변제 금액</th>
									<th scope="col"></th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="list,hStat : ${loanHistoryList}">
									<th scope="row" th:text="${hStat.count}"></th>
									<td>[[${#temporals.format(list.loanDate,'yyyy-MM-dd')}]]</td>
									<td th:text="${list.productName}"></td>
									<td  >

										<span th:text="${#numbers.formatInteger(list.borrowed, 3, 'COMMA') + '원'}" class="d-flex ">

										</span>


									</td>
									<td  th:text="${list.interest}">
									</td>
									<td  th:text="${list.loanMoney}">
									</td>


								</tr>

								</tbody>
							</table>
							<div>
								<div>
									<button class="btn border border-1 border-black" ><a href="#">대출변제 내역</a> </button>
								</div>

							</div>

						</div>
						<!--<div th:with="start=${(historyList.number/maxPage)*maxPage+1},end=(${historyList.totalPages == 0 ? 1 : ( start + (maxPage-1) < historyList.totalPages ? start + (maxPage-1):historyList.totalPages)})" class="mt-3  d-flex justify-content-center">

							<nav aria-label="Page navigation example justify-content-end align-items-center">
								<ul class="pagination justify-content-end " >


									<li class="page-item" th:classappend="${historyList.number eq 0} ? 'disabled' ">
										<a class="page-link"
										   th:href="@{'/history/list/'+${account.accountNumber}+'/'+${historyList.number-1}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
										</svg></a>
									</li>

									<li class="page-item" th:each="page : ${#numbers.sequence(start, end)}"
										th:classappend="${historyList.number eq page-1} ? 'active ' : '' ">
										<a class="page-link"
										   th:href="@{'/history/list/'+${account.accountNumber}+'/'+${page-1}}" >[[${page}]]</a>
									</li>

									<li class="page-item" th:classappend="${historyList.number+1 ge historyList.totalPages} ? 'disabled' ">
										<a class="page-link"
										   th:href="@{'/history/list/'+${account.accountNumber}+'/'+${historyList.number+1}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
										</svg></a>
										</a>
									</li>
								</ul>
							</nav>
						</div>-->



					</div>





				</div>




			</div>

		</div>









	</div>


	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">약관 동의</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div >
						<div class="">
							<input type="checkbox" >
							<span>전체 동의</span>
						</div>
						<div class="mt-3">
							<input type="checkbox" id="chk1">
							<span>이용약관(필수)</span>
						</div>

						<textarea  style="width:450px; height:100px; ">
제1장 총칙

제1조 (목적)

본 약관은 주식회사 비바리퍼블리카(이하 "회사"라 함)가 제공하는 전자금융거래 서비스 및 관련 서비스(이하 "서비스"라 함)의 이용과 관련하여, 회사와 회원 간 또는 회원 간의 권리 및 의무 및 책임사항 및 서비스 이용조건 및 절차 등 기본적인 사항을 규정함을 목적으로 합니다.
							</textarea>
						<span> ↑ 약관 전체 보기 <a href="#popup" onclick="window.open('https://toss.im/docs/11027','new','scrollbars=yes,resizable=no width=500 height=500, left=0,top=0');return false">클릭</a>
						</span>

						<div class="">
							<input type="checkbox" id="chk2" >
							<span>개인정보의 수집 및 이용에 대한 동의 (필수)</span>
						</div>
						<textarea maxlength="10" style="width:450px; height:100px;">
1. 수집하는 개인정보 항목
문화체육관광부 대표 누리집의 이용자 참여와 이용통계 분석 등의 서비스를 위해 회원 가입시 아래의 개인정보를 수집하고 있습니다.

가. 필수정보: 아이디, 이름, 성별, 출생년도, 비밀번호, 이메일
나. 서비스 이용 과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.
(접속로그, 접속IP정보, 쿠키, 방문 일시, 서비스 이용기록, 불량 이용 기록)
2. 대표 누리집에서 이용자 회원가입 시 직접 개인정보를 입력 및 수정하여 개인정보를 수집합니다.
3. 수집 개인정보의 이용목적
회원가입, 회원활동 실적 관리, 회원탈퇴 의사 확인 등 회원관리
제공되는 서비스 이용에 관한 인구통계학적 분석, 서비스 방문 및 이용기록 분석, 관심사에 기반한 맞춤형 서비스 등 제공
신규 서비스 개발 및 활성화, 홍보 및 이벤트, 전자우편 서비스 등 정보 전달
향후 법정 대리인 본인확인, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달 등
4. 개인정보의 보유 및 이용기간
이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다.
따라서 문화체육관광부 대표누리집은 최종 로그인 후 2년이 경과하였거나 정보주체의 회원 탈퇴 신청 시 회원의 개인정보를 지체 없이 파기합니다.

동의 거부 권리 사실 및 불이익 내용
이용자는 동의를 거부할 권리가 있습니다. 동의를 거부할 경우에는 서비스 이용에 제한됨을 알려드립니다.

						</textarea>
						<div class="">
							<input type="checkbox" >
							<span>개인정보의 수집 및 이용에 대한 동의 (선택)</span>
						</div>
						<textarea maxlength="10" style="width:450px; height:100px;">
수집하는 개인정보 선택항목
거주지역

수집하는 개인정보 이용 목적
문화체육관광부 대표 누리집의 이용자 참여와 이용통계 분석

개인정보 보유 및 이용기간
대출금 전부 갚는 날까지

						</textarea>

					</div>



				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary" id="loanBtn">대출 하기</button>
				</div>
			</div>
		</div>
	</div>


</div>


</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
		integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
		crossorigin="anonymous"></script>
<script layout:fragment="script"    th:inline="javascript">
	$(function(){

	$('#loanBtn').click(function(){
	 		var url = "/loan/product";
            var data = {
                productNo : $("#productNo").val(),
                bankNo : $("#bankNo").val()

            };

            $.ajax({
            type : "POST",
            async: true,
            url : "/loan/product",
            data: JSON.stringify(data),
            contentType : "application/json",
            success : function(result, status){
            		console.log(result.responseText);
					console.log(status);
					alert("대출 성공")
					location.href="/account/find

            },
            error : function(result, status){
            		console.log(result.responseText);
					console.log(status);
					if(result.responseText=='거래성공'){
					location.href="/account/find
					}

            },
            complete : function(result, status){}
        }) <!-- end-->

	})





		$('#size').change(function(){
			var size = $(this).val()
			var page = $('#page').val()
			var accountNumber = $('#accountNumber').val()
			console.log("체인지"+size);

			location.href="/history/list"+"/"+accountNumber+"/"+page+"/"+size;


		})
		$('#btn').click(function(){
			console.log("체인지")

		})

	})

</script>


</html>